{% extends 'base.html' %}

{% block heading %}Sign Up{% endblock %}

{% block content %}
  <form
    id="signup-buttons"
    class="d-flex justify-content-center"
    hx-target="#signup-buttons"
  >
    {% csrf_token %}
    <button
      class="bg-dnd-red rounded-md border-2 border-dnd-primary-dark text-base text-dnd-light py-2 px-4"
      hx-post="{% url 'player_signup' %}"
      hx-swap="outerHTML"
      >
      Player Profile
    </button>
    <button
      class="bg-dnd-red rounded-md border-2 border-dnd-primary-dark text-base text-dnd-light py-2 px-4"
      hx-post="{% url 'dungeon_master_signup' %}"
      hx-swap="outerHTML"
      >
      Dungeon Master Profile
    </button>
  </form>
{% endblock %}
