{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<form
  id="signup-buttons"
  class="d-flex justify-content-center"
  hx-target="#signup-buttons"
  >
  {% csrf_token %}
  <button
    class="btn btn-primary mx-2"
    hx-post="{% url 'player_signup' %}"
    hx-swap="outerHTML"
    >
    Player Profile
  </button>
  <button
    class="btn btn-primary mx-2"
    hx-post="{% url 'dungeon_master_signup' %}"
    hx-swap="outerHTML"
    >
    Dungeon Master Profile
  </button>
</form>
{% endblock %}
