{% extends 'bootstrap.html' %}

{% load bootstrap5 %}
{% load static %}

{% block title %}Dnd Campaign Manager{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<script src="{% static 'js/htmx.min.js' %}" defer></script>
{% endblock %}

{% block bootstrap5_before_content %}
<nav class="navbar bg-dark border-bottom border-body p-2" data-bs-theme="dark">
    <div class="container-fluid d-flex flex-between">
        <p class="navbar-brand text-white text-center m-0">Dnd Campaign Manager</p>
        {% if user.is_authenticated %}
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp"
                    class="rounded-circle"
                    height="32"
                    alt="Avatar"
                    loading="lazy"
                />
                Your Account
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="/accounts/profile/">Profile</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" href="/accounts/logout/">Log out</a>
                </li>
            </ul>
        </div>
        {% else %}
        <div>
            {% bootstrap_button "Log in" button_class="btn btn-outline-success me-2" href="/accounts/login/" %}
            {% bootstrap_button "Sign up" button_class="btn btn-sm btn-outline-secondary" href="/accounts/signup/" %}
        </div>
        {% endif %}
    </div>
</nav>
{% endblock %}

{% block bootstrap5_content %}
<div class="container-fluid border-bottom text-center bg-dark w-100">
{% block breadcrumbs %}
    <div class="text-white">breadcrumbs</div>
{% endblock %}
</div>
<div class="container bg-body bg-gradient text-light text-center my-5 py-5">
    <h2>{% block heading %}{% endblock %}</h2>
    {% block content %}{% endblock %}
</div>
{% endblock %}

{% block bootstrap5_after_content %}
<footer class="bg-dark text-white text-center p-2 fixed-bottom border-top" data-bs-theme="dark">
    <p class="m-0">Dnd Campaign Manager</p>
</footer>
{% endblock %}
