{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <script src="{% static 'js/htmx.min.js' %}" defer></script>
  </head>

  <body>
    {% block content %}
    <button hx-get="/hello" hx-trigger="click">Click me!</button>

    <script>
      document.addEventListener("htmx:afterRequest", function(evt) {
        if (evt.detail.xhr.responseURL.endsWith("/hello")) {
          console.log("Hello, world!");
        }
      });
    </script>
    {% endblock %}
  </body>
</html>
