{% extends "base.html" %}

{% block heading %}Welcome, {{ user.username }}{% endblock %}

{% block content %}
<p>
  You're using
  {% if user.is_player %}a player
  {% elif user.is_dungeon_master %} a dungeon master {% endif %}
  profile.
</p>

<div class="flex justify-between px-12 py-2">
  <div class="w-1/2">
    <img
      src="{{ user.profile_picture.url }}"
      alt="{{ user.username }}"
      class="max-w-sm border-2 rounded-md border-dnd-primary-dark mx-auto"
    >
  </div>
  <div class="w-1/2 pa-2">
    {% if user.is_player %}
      <h2>Characters</h2>
      <ul>
        {% for character in user.player.characters.all %}
          <li>
            <a href="{% url 'character_detail' character.id %}">
              {{ character.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% elif user.is_dungeon_master %}
      <h2>Campaigns</h2>
      <ul>
        {% for campaign in user.dungeon_master.campaigns.all %}
          <li>
            <a href="{% url 'campaign_detail' campaign.id %}">
              {{ campaign.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
